.polygonTheme {
  clip-path: polygon(32% 0, 100% 0, 100% 100%, 0% 100%);
  right: 0;
}
.home {
  background: url(../../assets/background.webp),
    radial-gradient(
      closest-side at center,
      #6d5fff 0%,
      #5d52dd 42%,
      #283771 100%
    );
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1024px) {
  .home {
    background-size: contain;
  }
}
