.sizeglobals {
  --additionalmargin: calc(144 / 1440 * 100vw);
  margin-left: var(--additionalmargin);
  margin-right: var(--additionalmargin);
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
@media (max-width: 450px) {
  .polygon {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    right: 0;
  }
}
@media (min-width: 640px) {
  .polygon {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    left: 0;
  }
}
