.surround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.canvas {
    width: calc(100vw - 64px);
    height: calc(100vh - 160px);
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding: 32px;
    padding-top: 0px;
    padding-bottom: 64px;
    gap: 32px;
}

.gallerybox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 100%;
    border-color: white;
    border-width: 12px;
    border-radius: 16px;
}

@font-face {
    font-family: 'SpyAgencyItalic';
    src: url('../../assets/spyagencysemital.ttf') format('truetype');
}

@font-face {
    font-family: 'SpyAgencyRegular';
    src: url('../../assets/spyagency.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat800';
    src: url('../../assets/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat500';
    src: url('../../assets/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SpyAgencyHalftone';
    src: url('../../assets/spyagencyhalf.ttf') format('truetype');
}

.opengallerytext{
    font-family: 'SpyAgencyHalftone', sans-serif;
        color: black;
    font-size: 25px;
}



.boldcaption {
    font-family: 'Montserrat800', sans-serif;
    color: white;
    margin-top: 64px;
    font-size: 30px;
}

.captiontext {
    font-family: 'Montserrat500', sans-serif;
    color: white;
    font-size: 25px;
}

.headertext {
    font-family: 'SpyAgencyItalic', sans-serif;
    color: white;
    font-size: 64px;
}

.tutorialtext {
    font-family: 'SpyAgencyRegular', sans-serif;
    color: white;
    font-size: 28px;
}