@keyframes typewriter {
    from { width: 0; }
    to { width: 17ch; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    width: 0; 
    animation: typewriter 1s steps(17) 1s 1 normal both, blink 500ms steps(40) infinite;
  }
  