.background-footer
{
    background: linear-gradient(#832AD0 0%, #43156A 100%);
}

@font-face {
    font-family: 'SpyAgencyHalftone';
    src: url('../../assets/spyagencyhalf.ttf') format('truetype');
}

.font-spyagencyhalf{
    font-family: 'SpyAgencyHalftone', sans-serif;
}

.shadow-footer {
    -webkit-filter: drop-shadow(4px 4px 15px rgba(245, 253, 255, 0.5));
    filter: drop-shadow(4px 4px 15px rgba(245, 253, 255, 0.5));
}
