#root {
  text-align: center;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in-active {
  opacity: 1;
}

.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-out-active {
  opacity: 0;
}

@font-face {
  font-family: 'SpyAgencyCond';
  src: url('./assets/fonts/spyagencycond.ttf') format('truetype');
}

@font-face {
  font-family: 'SpyAgencyBoldItal';
  src: url('./assets/fonts/spyagencyboldital.ttf') format('truetype');
}

@font-face {
  font-family: 'SpyAgencyGradient';
  src: url('./assets/fonts/spyagencyvgrad.ttf') format('truetype');
}
@font-face {
  font-family: 'SpyAgencyItalic';
  src: url('./assets/spyagencysemital.ttf') format('truetype');
}

@font-face {
  font-family: 'SpyAgencyRegular';
  src: url('./assets/fonts/spyagency.ttf') format('truetype');
}

@font-face {
  font-family: 'SpyAgencyHalftone';
  src: url('./assets/spyagencyhalf.ttf') format('truetype');
}

.spyagencyCond {
  font-family: 'SpyAgencyCond', sans-serif;
}

.spyagencyBoldItal {
  font-family: 'SpyAgencyBoldItal', sans-serif;
}

.spyagencyGradient {
  font-family: 'SpyAgencyGradient', sans-serif;
}

.spyagencyItalic {
  font-family: 'SpyAgencyItalic', sans-serif;
}

.spyagencyRegular {
  font-family: 'SpyAgencyRegular', sans-serif;
}

.spyagencyHalftone {
  font-family: 'SpyAgencyHalftone', sans-serif;
}
