table {
  border-spacing: 0;
  border-radius: 10px;
  color: #fff;
}

th {
  border: 2px solid white;
  padding: 8px;
  text-align: center;
}

.thleftmost {
  border-top-left-radius: 5px;
}

.thrightmost {
  border-top-right-radius: 5px;
}

.thmiddle {
  border-left: none;
  border-right: none;
}

td {
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 8px;
  text-align: center;
}

.tdmiddle {
  border-left: none;
  border-right: none;
}

.tdmiddlefinal {
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
}

.tdfinalleft {
  border-bottom: 2px solid white;
  border-bottom-left-radius: 5px;
}

.tdfinalright {
  border-bottom: 2px solid white;
  border-bottom-right-radius: 5px;
}
select:focus {
  outline: none;
}

.home {
  background: url(../../assets/background.webp), radial-gradient(closest-side at center, #6d5FFF 0%, #5d52dd 42%, #283771 100%);
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
